* {
  font-size: 20pt;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}
span {
  font-size: 30pt;
}
button {
  font-size: 18pt;
  color: white;
  border: none;
  padding: 14px 28px;
}
table {
  margin-top: 20px;
}
.sell-button {
  background-color: #f44336;
}
.buy-button {
  background-color: #4CAF50;
}
.box {
  display: inline;
  border: 2px solid #4CAF50;
  border-radius: 12px;
  padding: 12px;
}
